@charset "UTF-8";
/* CSS Document */

* { 
	margin:0em; padding:0em; 
}
body{
	font-family: Baskerville, "Times New Roman", Times, serif;
	font-size: 1em;
	background-color: #056660;
	color: #033B30;
	}


p {
	font-size: .75em;
	text-align:left;
}

h1{
	font-size: 1.5em;/* 24pts */
	text-align:left;
}
h2{
	font-size: 1.125em;/* 18pts */
	line-height: 120%;
	text-align:left;
}
h3{
	font-size: 1em;/* 16pts */
	text-align:left;
}
h4{
	font-size: 1em;/*16pts */
	font-variant: small-caps;
	text-align:left;
}
h5{
	font-size: .75em;/* 16pts */
	font-weight:bold;
	text-align:left;
}
h6{
	font-size: .75;/* 161ts */
	text-align:center;
	padding-top: 25px;
	font-weight: normal;
}

#wrapper {
	width: 770px;
	/*	height: 600px;*/
	background: #FFF;
	padding: 5px;
	margin: auto;
	border: 5px solid #9DBCC4;
	margin-top: 10px;
	
	}


#right_content {
	width: 250px;
	float: right;
}

#footer {
	width: 760px;
	height: 50px;
	vertical-align: bottom;
	clear: both;
}
#picture_content {
	width: 500px;
	float: left;
	}
    
div#navbar {
	font-size: 1em;
	font-variant: normal;
	text-transform: uppercase;
} 

div#navbar ul {
	margin: 0px;
	padding: 0px;
	color: ##033B30;
	line-height: 150%;
	white-space: nowrap;
	text-align:left;
} 

div#navbar li {
	list-style-type: none; 
} 

div#navbar li a {
	text-decoration: none;
	padding: 0px;
} 

div#navbar li a:link {
	color: #033B30;
} 
	
div#navbar li a:visited {
	color: #033B30;
}

div#navbar li a:hover {
	color: #056660;
}

.clearfix {
	clear: left;
}

.clearfix_both {
	clear: both;
}


.sq1 {
	float: left;
	height: 100px;
	width: 100px;
	
}
.sq1_2 {
	float: left;
	height: 200px;
	width: 100px;
	
}
.sq1_3 {
	float: left;
	height: 300px;
	width: 100px;
	
}

/*.clearfix {
	clear: left;
}

.clearfix_both {
	clear: both;
}
*/

.sq2 {
	float: left;
	height: 200px;
	width: 200px;
	}
	
.sq2_logo {
	/*float: left;*/
	height: 200px;
	width: 200px;
	}
	
	
.sq2_3 {
	float: left;
	height: 300px;
	width: 200px;
	}
.sq2_4 {
	float: left;
	height: 400px;
	width: 200px;
	}

.sq3 {
	float: left;
	height: 300px;
	width: 300px;
}
.sq3_4 {
	float: left;
	height: 400px;
	width: 300px;
}
.sq4 {
	float: left;
	height: 500px;
	width: 500px;
}

img {
	padding: 5px;
	float: left;
	border: 0px
	}
